/* You can add global styles to this file, and also import other style files */
$body-bg: #f9fbfd;
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// global styles
.bg-cover{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-cover-top{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.bg-cover-bottom{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.bg-cover-left{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.bg-cover-right{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}